<div class="app-card-container">

  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-5">

        <%= image_tag "SAYA1.jpg", width: 300, alt: "profile image", class: "profile-img" %>

      </div>

      <div class="col-md-7">
          <p>She is Cute!</p>
      </div>
    </div>

  </div>

</div>




